.game-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  max-width: 900px;
  margin-inline: auto;
}

.card {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-color: grey;
}
